# Discord Bot Configuration
DISCORD_TOKEN=
CLIENT_ID=

# Stealth Scraper Configuration (Get this from scrapingbee.com)
SCRAPINGBEE_KEY=JB

# Target Game URLs (Traderie Stock Pages)
GROW_A_GARDEN_URL=
PLANTS_VS_BRAINROTS_URL=
GAG2_URL=